<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= page.title ? page.title + ' | ' + config.title : config.title %></title>
<% if (config.description) { %>
<meta name="description" content="<%= config.description %>" />
<% } %>
<% if (config.keywords) { %>
<meta name="keywords" content="<%= config.keywords %>" />
<% } %>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;600;700&family=Noto+Serif+SC:wght@400;600&display=swap" rel="stylesheet" />
<%- css('css/style') %>
